<!-- Footer -->
<footer class="page-footer font-small unique-color-dark align-bottom d-none d-lg-block" style="background-color: #32303be7;">
    <div style="background-color: #32303b;">
      <div class="container" >
        <!-- Grid row-->
        <div class="row py-2 d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0" style="color:white">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
    </div>
    <!-- Footer Links -->
    <div class="container text-center text-md-left"style="color:white" >
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Student offers</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;">
          <p>Ένα project που ξεκίνησε από την ομάδα των GNTC.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
          <!-- Links -->
          <h6 class=" font-weight-bold">Τι μπορείς να κάνεις</h6>
          <p>
            <a href="/search">Αναζήτησε μία προσφορά</a>
          </p>
          <p>
            <a href="/addNewShop">Πρόσθεσε ένα κατάστημα</a>
          </p>
          <p>
            <a href="/addproduct">Πρόσθεσε ένα προϊόν</a>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
          <!-- Links -->
          <h6 class="font-weight-bold">Χρήσιμοι Σύνδεσμοι</h6>
          <p>
            <a href="/login/signup">Εγγραφή</a>
          </p>
          <p>
            <a href="/login">Σύνδεση</a>
          </p>
          <p>
            <a href="/userpage">Δες το προφίλ σου</a>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 ">
          <!-- Links -->
          <h6 class="font-weight-bold">Επικοινώνισε μαζί μας</h6>
          <p>
            <i class="fas fa-envelope mr-3"></i> getbetter@studentoffer.gr</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> joinus@studentoffer.gr</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2018 Copyright:
      <a href="/"> GNTC</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->