<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand font-weight-light" href="/">Αρxική Σελίδα</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav" style="align-items: center">
              <li class="nav-item"><a class="nav-item pull-left px-2 font-weight-light" href="/addproduct"><font color="white">Προσθήκη προϊόντος</font></a></li>
              <li class="nav-item"><a class="nav-item pull-left px-2 font-weight-light" href="/addNewShop"><font color="white">Προσθήκη καταστήματος</font></a></li>
              <li class="nav-item"><a class="nav-item pull-left px-2 font-weight-light" href="/search"><font color="white">Αναζήτηση</font></a></li>
              <li class="nav-item"><a class="nav-item pull-left px-2 font-weight-light" href="/about"><font color="white">Σχετικά με εμάς</font></a></li>
              <li class="nav-item"><a class="nav-item pull-left px-2 font-weight-light" href="/contact"><font color="white">Επικοινωνία</font></a>   </li>
            <% if (login) { %>
            <!-- TO DO LOGGED IN DROPDOWN -->
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <!-- <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li> -->
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle navbar-dark bg-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Καλώς ήρθες</button>
                    <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="dropdownMenuButton">
                      <% if (name =='admin@admin') { %>
                        <a class="dropdown-item navbar-dark bg-dark"  href="/adminpage"><font color="white">Προφίλ</font></a>
                      <% } else { %>
                      <a class="dropdown-item navbar-dark bg-dark"  href="/userpage"><font color="white">Προφίλ</font></a>
                      <% } %>
                      <a class="dropdown-item navbar-dark bg-dark"  href="#"><font color="white">Αλλαγή κωδικού</font></a> 
                      <div class="dropdown-divider"></div>
                      <form class="form" method="get" action="/logout" role="form">
                        <button type="submit" class="btn navbar-dark bg-dark"><font color="white">Αποσύνδεση <%= name %> </font></button>
                      </form>
                    </div>
                </div>
            </ul>
            <!-- to be channged-->
            <% } else { %>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto"></ul>
              <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle navbar-dark bg-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Σύνδεση
                          </button>
                          <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="dropdownMenuButton">
                    
                                <form class="px-4 py-3" action="/login" method = "POST">
                                        <div class="form-group">
                                          <label for="exampleDropdownFormEmail1"><font color="white">Email address</font></label>
                                          <input type="email" class="form-control" name="emailInput" id="emailInput" placeholder="email@example.com">
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleDropdownFormPassword1"><font color="white">Password</font></label>
                                          <input type="password" class="form-control" name="passwordInput" id="passwordInput" placeholder="Password">
                                        </div>
                                        <input type="hidden" id="url" name="url" >
                                        <button onclick="myFunction()" type="submit" class="btn btn-primary"><font color="white">Sign in</font></button>
                                      </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item navbar-dark bg-dark" href="/login/signup"><font color="white">Νέος χρήστης!</font></a>
                    <a class="dropdown-item navbar-dark bg-dark" href="#"><font color="white">Ξέχασες τον κωδικό σου</font></a>
                </div>
              </div>
            </ul>
            <% } %>
        </div>
      </div>
    <script>
      function myFunction() {
        document.getElementById("url").value = document.URL;
      }
    </script>        
</nav>