
body{
    background-image: url("/img/backgrounds/addProduct.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
.list-group-item:hover {
    color: #337ab7;
    text-shadow: 0 0 1em #337ab7;
    cursor: pointer;
}

.resultContainer {
    height: fit-content;
    max-height: 250px;
    overflow: auto;

}

.myfade {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    max-height: 500px;
}

.myfade.ng-hide {
    opacity: 0;
    transform: scale(0.5); 
    max-height: 0px;
}

li {
    opacity: 1;
}

li.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

li.ng-enter-active {
    opacity: 1;
}

.form-row{
    overflow: hidden;
}