@media (min-width: 801px) {
    body{
        background-image: url("/img/backgrounds/shopitem.jpg");
        background-size: 100% 100%  ;
        background-attachment: fixed;
        color: black;
    }
}
@media (max-width: 801px) {
    body{
        background-image: url("/img/backgrounds/shopitem.jpg");
        background-size: auto 100%  ;
        background-attachment: fixed;
        color: black;
    }
}

.productCard{
    box-shadow: 0 0 0;
    transition: box-shadow 0.15s;
    -webkit-transition: box-shadow 0.15s;
}
.productCard:hover{
    box-shadow: 0 0 1em;
}

.btn-link{
    cursor:pointer;
    font-family:inherit;
    font-size:inherit;
    background:rgba(255, 255, 255, 1); 
    width: 100%;    
  }

#map {
    width: 30em;
    height: 25em;
}