<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/about.css">
</head>
<body>
<!-- Image Section - set the background image for the header in the line below -->
<% include partials/navbar.ejs %>
  <!-- Content section -->
  <section style="background: rgba(255, 255, 255, 0.322);" class="align-bottom py-5">
    <div style="background: rgba(255, 255, 255, 0);" class="container">
      <h1>About us</h1>
      <p class="lead">To project student offers ξεκίνησε στο πλαίσιο μίας εργασίας. Ήταν όμως μία ιδέα που μας άρεσε πραγματικά και ελπίζουμε να αρέσει και σε εσάς</p>
      <p>Η λειτουργεία όλου αυτού βασίζεται σε όλους μας. Βοήθησε να κρατήσουμε τις προσφορές ενημερωμένες και ακόμα περισσότερες ! Ανακάλυψε τις καλύτερες προσφορές και πρόσθεσε ό,τι νεότερο ! </p>
    </div>
  </section>

  
</body>
  
  