<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/userprofile.css">
</head>

<body>
    <% include ./partials/navbar.ejs %>
    <% if (name == 'admin@admin') { %> <!-- CHANGE_THIS -->
        <div style="background: rgba(255, 255, 255, 0.322);" class="container mt-5 py-2">

        <div class='row p-5'>
            <div class='col-md-4 text-center'>
                <img src="/assets/profileImg/<%= user.email %>.png" style="max-width: 100%; max-height: 100%;"
                    onerror="this.onerror=null;this.src='/assets/profileImg/anonymous.png'">
            </div>
            <div class='col-md-8 pt-1'>
                <div style="background: rgba(255, 255, 255, 0.5);" class="card card-outline-secondary ">
                    <div style="background:white; text-align:center;" class="card-header">
                        <h4>User email: </h4>
                        <h4 class="font-weight-light"> <%= user.email %></h4>
                    </div>
                    <div class="card-body">

                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="form-group row ">
                                <div class="col-lg-6">

                                    <h3 class="font-weight-light">Αλλαγή Φωτογραφίας </h3>
                                </div>
                                <div class="col-lg-6">
                                    <input type="file" name="image" accept="image/*">
                                </div>

                            </div>
                            <h3 class="font-weight-light" style="text-align:center;"> Αλλαγή Κωδικού </h3>
                            <div class="form-group row">
                                <div class="col-md-6">

                                    <input type="password" name="password" class='class form-control '
                                        placeholder="Αλλαγή κωδικού">
                                </div>
                                <div class="col-md-6">

                                    <input type="password" name="passwordconf" class='class form-control '
                                        placeholder="Επαλήθευση κωδικού">
                                </div>

                            </div>
                            <div class="form-group row">
                                <button type="submit" class="btn btn-primary btn-block"
                                    ng-disabled="SubmitButton">Αποθήκευση</button>
                            </div>
                        </form>
                        <div class="form-group row">

                            <a href="../delete/?user=<%= user.email %>" button class='btn btn-danger btn-block'>Διαγραφή
                                λογαριασμού</button></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <div style="background: rgba(255, 255, 255, 0.5);" class="card card-outline-secondary my-4">
            <div style="background:white;" class="card-header bold text-center">
                Ενέργειες
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <a type="button" class="btn btn-primary btn-block" href='/adminPage/DeleteUser'>Διαγραφή Χρήστη</a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <a type="button" class="btn btn-primary btn-block" href='/adminPage/DeleteShop'>Διαγραφή Καταστήματος</a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <a type="button" class="btn btn-primary btn-block" href=''>Διαγραφή Προϊόντος/Προσφοράς</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <% } else { %>
        <div class=' text-center'>Η σελίδα δεν βρέθηκε, πάτα <a href='/'>εδώ</a> για να μεταφερθείς στην αρχική σελίδα</div>
    <% } %> 
    </div>
</body>