<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/contact.css">
</head>
<body>
<!-- Image Section - set the background image for the header in the line below -->
<% include partials/navbar.ejs %>
  <!-- Content section -->
  <section style="background: rgba(255, 255, 255, 0.521);" class="align-bottom py-5">
    <div style="background: rgba(255, 255, 255, 0);" class="container py-5">
      <h1 class="py-5">Επικοινώνησε μαζί μας </h1>
      <p>Εάν υπάρχει κάτι που δεν λειτουργεί καλά ή κατι που δεν σου αρέσει επικοινώνησε μαζί μας και θα κάνουμε ότι μπορούμε για να γίνουμε καλύτεροι</p>
      <p class="lead pull-right"> Στείλε μας ένα mail στο: getbetter@studentoffer.gr </p>
    </br>
      <p>Εάν θα ήθελες να συμμετάσχεις στο project μας πιο ενεργά στείλε μας ένα mail και θα επικοινωνήσουμε εμείς μαζι σου</p>
      <p class="lead pull-right"> Επικοινώνησε στο: joinus@studentoffer.gr </p>
    </div>
  </section>
</body>
<% include ./partials/footer.ejs %>  
</html>
  