<html>

<body>
    <center>
    <h1>Η σελίδα δεν βρέθηκε</h1>
    <h2>Κάνε κλικ <a href='/'>εδώ</a> για να μεταφερθείς στην αρχική σελίδα</h2>
    <img src="http://images5.fanpop.com/image/photos/31100000/Classic-Patrick-spongebob-squarepants-31126065-338-500.jpg">
    </center>
</body>

</html>