<% include ./partials/header.ejs %>
</head>
<body>
    <% include ./partials/navbar.ejs %>
    <form action="/search/output" method="POST"> 
        <div class="form-row text-center">
                <div class='col-12'>
                    <p class='lead'> Διάλεξε τις κατηγορίες που σε ενδιαφέρουν </p>
                </div>           
        </div>   
        <div class="form-row">   
            <div class="col-4">
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-info btn-block">
                          <input type="checkbox" name="near" checked autocomplete="off"> κοντά μου
                    </label>
                </div>
            </br>
                <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-info btn-block ">
                              <input type="checkbox" name="food" checked autocomplete="off"> Φαγητό
                        </label>
                </div>
            </div>
            <div class="col-4">
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-info btn-block ">
                          <input type="checkbox" name="cinema" checked autocomplete="off"> Σινεμά
                    </label>
                </div>
            </br>
                <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-info btn-block ">
                              <input type="checkbox" name="music" checked autocomplete="off"> Μουσική
                        </label>
                </div>
            </div>  
            <div class="col-4">
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-info btn-block ">
                          <input type="checkbox" name="theater" checked autocomplete="off"> Θέατρο
                    </label>
                </div>
            </br>
                <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-info btn-block">
                              <input type="checkbox" name="transport" checked autocomplete="off"> Μεταφορές
                        </label>
                </div>
            </div>
        </div>
    </br>
        <div class="form-row">
            <div class="col-12">  
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-info btn-block ">
                        <input type="checkbox" name="cafe" checked autocomplete="off"> Cafe - Bars - Clubs
                    </label>
                </div> 
            </div>
        </div>
    </br>
        <div class="form-row text-center">
                <div class='col-12'>
                    <p class='lead'> Εύρος Τιμών </p>
                </div>           
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Από</label>
                    <input type="number" step="5" min="0" name="from" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Έως</label>
                    <input type="number" step="5" min="0" name="to" class="form-control">
            </div>
        </div>
        <div class="form-row text-center">
            <div class='col-12'>
                <p class='lead'> Ή δώσε μας μερικές λέξεις - κλειδιά </p>
            </div>           
        </div>
        <div class="form-group">
            <input type="general-search" class="form-control" name="search" id='general-search' placeholder="Αναζήτηση . . .">
        </div>
        <div class="form-row text-center">
            <div class='col-12'>    
                <button type="submit" class="btn btn-info mb-2 "> Ψάξε!</button>
            </div>
        </div>   
    </form>
</body>