<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="my-auto mx-auto">
        <% include ./partials/navbar.ejs %>
        <h2>
            <%= shopname%>
        </h2>
    </div>
</body>

</html>