<% include ./partials/header.ejs %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body ng-app="Signup">
    <% include ./partials/navbar.ejs %>
    <div id="login_div" class="my-auto mx-auto">
        <div class="container" ng-controller="validation">
            <div class="row pt-sm-5">
                <div class="col-12 mx-auto text-center">
                    <h3>
                        Εγγραφή νέου χρήστη
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h5>Email:</h5>
                                <input type="email" name="emailInput" id="emailInput" placeholder="Email" class="form-control form-control"
                                    required="" ng-model="email" ng-change="onChange()">
                            </div>
                            <div class="form-group col-md-6">
                                <h5>Είκονα χρήστη (προαιρετικό)</h5>
                                <input type="file" name="image" id="player-img" class="" accept="image/*">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h5 class="sm">Κωδικός:</h5>
                                <input type="password" name="passwordInput" id="passwordInput" placeholder="Password"
                                    class="form-control form-control" required="" ng-model="password" ng-change="onChange()">
                            </div>
                            <div class="form-group col-md-6">
                                <h5 class="sm">Επιβεβαίωση κωδικού:</h5>
                                <input type="password" name="confirmPasswordInput" id="confirmPasswordInput"
                                    placeholder="Password" class="form-control form-control" required="" ng-model="confirmation"
                                    ng-change="onChange()">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" ng-disabled="SubmitButton">Εγγραφή</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--This is an error area-->
            <div ng-show="alertFlag" class="alert alert-danger">
                <ul>
                    <li ng-repeat="msg in messages">
                        {{msg}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module('Signup', []);
        app.controller('validation', function ($scope, $http) {
            onChange = function () {
                $scope.SubmitButton = false;
                var serverMSG = "<%= message %>";
                $scope.messages = [];
                // add server message
                if (serverMSG != "") {
                    $scope.messages.push(serverMSG);
                }
                //search if email exists
                if ($scope.email != undefined) {
                    $http.get("/check_user?email=" + $scope.email).then(function (response) {
                        if (response.data.exists) {
                            let msg = "Το email αυτό υπάρχει ήδη!";
                            if ($scope.messages.indexOf(msg) == -1) { //make sure the message is not twice in messages array
                                $scope.messages.push(msg);
                            }
                            $scope.SubmitButton = true;
                            $scope.alertFlag = true; // because http.get is done ASync flag is set BEFORE we have the results
                        }
                    });
                }
                // if passwords do not match add this message
                if (!angular.equals($scope.password, $scope.confirmation)) {
                    $scope.messages.push("Οι κωδικοί δεν ταιρίαζουν!");
                    $scope.SubmitButton = true;
                }
                if ($scope.password && $scope.password.length < 8) {
                    $scope.messages.push("Ο κωδικός πρέπει να είναι τουλάχιστον 8 χαρακτήρες!");
                    $scope.SubmitButton = true;
                }
                // if there are no messages to display hide the alert <div>
                if ($scope.messages.length == 0)
                    $scope.alertFlag = false;
                else
                    $scope.alertFlag = true;

            };
            $scope.onChange = onChange;
            //$scope.password = "";
            //$scope.confirmation = "";
            onChange();
        });


    </script>
</body>
</html>