<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/login.css">
<script src="/js/signup.js"></script>>
</head>

<body ng-app="Signup">
    <% include ./partials/navbar.ejs %>
    <div id="login_div" class="my-auto mx-auto">
        <div class="container" ng-controller="signup">
            <div class="row pt-sm-5">
                <div class="col-12 mx-auto text-center">
                    <h3>
                        Εγγραφή νέου χρήστη ή καταστήματος
                    </h3>
                </div>
            </div>
            <div class="row pt-sm-5">
                <div class="col-sm-6 my-1 mx-auto text-center">
                    <button id="user" type="button" class="btn btn-success" ng-click="formSelectionUser()">Εθελοντής
                        χρήστης</button>
                </div>
                <div class="col-sm-6 mx-auto my-1 text-center">
                    <button id="shop" type="button" class="btn btn-info" ng-click="formSelectionShop()">Κατάστημα</button>
                </div>
            </div>
            <div class="container" ng-show="UserForm">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action="" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="shop_or_user" ng-model="shop_or_user">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5>Email:</h5>
                                    <input type="email" name="emailInput"  placeholder="Email" class="form-control form-control"
                                        required="" ng-model="email" ng-change="checkUser(this)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Κωδικός:</h5>
                                    <input type="password" name="passwordInput"  placeholder="Password"
                                        class="form-control form-control" required="" ng-model="password" ng-change="checkUser(this)">
                                </div>
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Επιβεβαίωση κωδικού:</h5>
                                    <input type="password" name="confirmPasswordInput" 
                                        placeholder="Password" class="form-control form-control" required="" ng-model="confirmation"
                                        ng-change="checkUser(this)">
                                </div>
                            </div>
                            <!-- USER FORM -->
                            <h4>Προσωπικά στοιχεία</h4>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Όνομα:</h5>
                                    <input type="text" name="name" id="name" placeholder="Προαιρετικά" class="form-control form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Επώνυμο:</h5>
                                    <input type="text" name="surname"  placeholder="Προαιρετικά" class="form-control form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5>Είκονα χρήστη (προαιρετικό)</h5>
                                    <input type="file" name="image"  class="" accept="image/*">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" ng-disabled="SubmitButton">Εγγραφή</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--This is an error area-->
                <div ng-show="alertFlag" class="alert alert-danger">
                    <ul>
                        <li ng-repeat="msg in messages">
                            {{msg}}
                        </li>
                    </ul>
                </div>
            </div>
            <!-- SHOP FORM -->
            <div class="container" ng-show="ShopForm">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action="" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="shop_or_user" ng-model="shop_or_user">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5>Email:</h5>
                                    <input type="email" name="emailInput"  placeholder="Email" class="form-control form-control"
                                        required="" ng-model="email" ng-change="checkUser(this)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Κωδικός:</h5>
                                    <input type="password" name="passwordInput"  placeholder="Password"
                                        class="form-control form-control" required="" ng-model="password" ng-change="checkUser(this)">
                                </div>
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Επιβεβαίωση κωδικού:</h5>
                                    <input type="password" name="confirmPasswordInput" 
                                        placeholder="Password" class="form-control form-control" required="" ng-model="confirmation"
                                        ng-change="checkUser(this)">
                                </div>
                            </div>
                            <!-- SHOP FORM -->
                            <h4>Στοιχεία καταστήματος</h4>
                            <input type="hidden" name="new_existing" ng-model="new_existing">
                            <!-- EXISTING SHOP -->
                            <div class="row pt-sm-5">
                                <div class="col-sm-6 mx-auto my-1 text-center">
                                    <button id="user" type="button" class="btn btn-primary" ng-click="searchShopFunc()">Αναζήτηση
                                        υπάρχων καταστήματος</button>
                                </div>
                                <div class="col-sm-6 mx-auto my-1 text-center">
                                    <button id="shop" type="button" class="btn btn-success" ng-click="newShopFunc()">Νέο
                                        κατάστημα</button>
                                </div>
                            </div>
                            <div class="container" ng-show="searchShop">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <h5 class="sm">Αναζήτηση καταστήματος:</h5>
                                        <input type="text" name="shopName" placeholder="Υποχρεωτικα" required="" class="form-control form-control"
                                            ng-model="searchShopName" ng-change="findShop()">
                                    </div>
                                    <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="shop in shops" ng-click="selectedShop(shop)">{{shop.name}}</li>
                                    </ul>
                                </div>                        
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-primary btn-block" ng-disabled="SubmitButton">Εγγραφή</button>
                                    </div>
                                </div>
                            </div>
                            <!-- NEW SHOP -->
                            <div class="container" ng-show="newShop">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <h5 class="sm">Όνομα καταστήματος:</h5>
                                        <input type="text" name="shopName" ng-model="shopName" placeholder="Υποχρεωτικα"
                                            required="" class="form-control form-control" ng-change="checkUser(this)">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <h5>Είκονα χρήστη (προαιρετικό)</h5>
                                        <input type="file" name="image" class="" accept="image/*">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="SubmitButton">Εγγραφή</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--This is an error area-->
                <div ng-show="alertFlag" class="alert alert-danger">
                    <ul>
                        <li ng-repeat="msg in messages">
                            {{msg}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
</body>

</html>