<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/login.css">
<script src="/js/signup.js"></script>
</head>

<body ng-app="Signup">
    <% include ./partials/navbar.ejs %>
    <div style="background: rgba(255, 255, 255, 0.322);" id="login_div" class="my-auto mx-auto">
        <div class="container" ng-controller="signup">
            <div class="row pt-xl-5">
                <div class="col-12 mx-auto text-center">
                    <h3>
                        Εγγραφή νέου χρήστη
                    </h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5>Email:</h5>
                                    <input type="email" name="emailInput" placeholder="Email" class="form-control form-control"
                                        required="" ng-model="email" ng-change="checkUser(this)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Κωδικός:</h5>
                                    <input type="password" name="passwordInput" placeholder="Password" class="form-control form-control"
                                        required="" ng-model="password" ng-change="checkUser(this)">
                                </div>
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Επιβεβαίωση κωδικού:</h5>
                                    <input type="password" name="confirmPasswordInput" placeholder="Password" class="form-control form-control"
                                        required="" ng-model="confirmation" ng-change="checkUser(this)">
                                </div>
                            </div>
                            <!-- USER FORM -->
                            <h4>Προσωπικά στοιχεία</h4>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Όνομα:</h5>
                                    <input type="text" name="name" id="name" placeholder="Προαιρετικά" class="form-control form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <h5 class="sm">Επώνυμο:</h5>
                                    <input type="text" name="surname" placeholder="Προαιρετικά" class="form-control form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <h5>Είκονα χρήστη (προαιρετικό)</h5>
                                    <input type="file" name="image" class="" accept="image/*">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" ng-disabled="SubmitButton">Εγγραφή</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--This is an error area-->
                <div ng-show="alertFlag" class="alert alert-danger">
                    <ul>
                        <li ng-repeat="msg in messages">
                            {{msg}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="./signup">
                        <button class="btn btn-secondary">Επαναφορά
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>